<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingSimulator.Processing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Processing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TradingSimulator.Processing.Properties.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value>Quotes\</value>
            </setting>
        </TradingSimulator.Processing.Properties.Settings>
        <Processing.Properties.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value>"\\Quotes\\"</value>
            </setting>
        </Processing.Properties.Settings>
    </applicationSettings>
</configuration>